include AUTHORS CHANGES INSTALL LICENSE README pyxrc setup.cfg setup.py
include manual/Makefile manual/pyx.sty manual/*.tex manual/*.py manual/*.dat
include faq/Makefile faq/pyxfaq.tex faq/glifaq.dtx faq/glifaq.ins faq/tipa.py faq/tipa*.pdf
recursive-include pyx *.c *.py
recursive-include pyx/lfs *.lfs createlfs.tex
recursive-include contrib *.py *.cfg *.def *.tex
recursive-include examples README *.py *.dat *.jpg
recursive-include gallery README *.py *.dat
