include AUTHORS CHANGES INSTALL.md LICENSE README.md pyxrc setup.cfg setup.py
include manual/Makefile manual/pyx.sty manual/*.rst manual/*.py manual/*.dat
recursive-include manual/theme *
include faq/Makefile faq/conf.py faq/*.rst
recursive-include pyx *.c *.py
recursive-include pyx/data *
recursive-include contrib *.py *.cfg *.tex
recursive-include examples README *.py *.dat *.jpg *.txt
recursive-include gallery README *.py *.dat *.jpg *.txt
