include AUTHORS
include LICENSE
include INSTALL
include CHANGES
include manual/manual.pdf
recursive-include contrib *
recursive-include pyx *.h
recursive-include pyx/lfs *.lfs *.py *.tex

prune test
exclude pyx/axis.py
